/* Space out content a bit */
 body {
  padding-top: 0px;
  padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
 .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page footer */
 .footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 30px;
}
/* Customize container */
 @media (min-width: 768px) {
  .container {
    max-width: 90%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
 .jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
 .marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.internal_link {
  cursor: help;
}


ul {
  list-style-image:url('/lifebits/images/bullet.gif');
  margin: 10px;
  margin-left: 30px;
  padding: 0px;
}


ul.history {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
ul.history li {
  display: inline;
}
ul.history li:before {
  content:"> ";
  color: red;
}
ul.history li:after {
  content:" ";
}

ul.links {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
ul.links li {
  display: inline;
}
ul.links li:before {
  content:"> ";
  color: #55A;
}
ul.links li:after {
  content:" ";
}

.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}
