<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!-- endbuild -->
</head>

<body ng-app="lifebitsApp">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <nav class="navbar navbar-inverse" role="navigation" ng-controller="SearchCtrl">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Lifebits</a>
    </div>
    <div class="col-md-4">
      <form class="navbar-form form-inline" role="search">
        <button class="col-md-2 btn btn-default pull-left" ng-click="showFilter=!showFilter;search=''">Filter</button>
        <div class="input-group col-md-4 pull-left" ng-show="showFilter">
          <input id="searchType" ng-model="searchType" class="form-control" placeholder="Filter by..." />
          <div class="input-group-btn">
            <button class="btn btn-default" ng-click="setSuggestType(null)"><i class="glyphicon glyphicon-trash"></i>
            </button>
          </div>
        </div>
        <div class="input-group col-md-6">
          <input id="myinput" ng-model="search" class="form-control" placeholder="Search for something" />
          <!--
           <div class="input-group-btn">
            <button class="btn btn-default" ng-click="searchTopic(search)"><i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
          -->
        </div>
      </form>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="#/profile">{{user.name}}</li>
        <!--
        <li ng-class="{ active: isActive('/main')}"><a href="#">Home</a>
      </li>
      <li ng-class="{ active: isActive('/bits')}"><a href="#/bits">Bits</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Java <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">jmeter</a>
          </li>
          <li><a href="#">EJB</a>
          </li>
          <li><a href="#">Jasper Report</a>
          </li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a>
          </li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a>
          </li>
        </ul>
      </li>-->
    </ul>


    <!-- Sign in -->
    <div class="navbar-header" ng-hide="user">
      <a class="navbar-brand" href="{{authUrl}}">
        <img src="images/g-signin.png" />
      </a>
    </div>
  </nav>

  <!-- Add your site or application content here -->
  <div class="container" ng-view="">Loading page...</div>

  <div class="footer">
    <p></p>
  </div>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <!--
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
 -->

  <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

  <script src="//cdn.firebase.com/v0/firebase.js"></script>
  <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>-->
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.js"></script>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/env.js"></script>
  <script src="scripts/controllers/search.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/bits.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/controllers/feed.js"></script>
  <script src="scripts/controllers/profile.js"></script>
  <script src="scripts/controllers/logs.js"></script>
  <script src="scripts/services/google.js"></script>
  <script src="scripts/services/db.js"></script>
  <script src="scripts/services/freebase.js"></script>
  <script src="scripts/services/history.js"></script>
  <script src="scripts/services/feed.js"></script>
  <script src="scripts/filters/dateDelta.js"></script>
  <script src="scripts/filters/partition.js"></script>
  <script src="scripts/directives/categories.js"></script>
  <!-- endbuild -->
</body>

</html>
