<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Shares categories {{selection}}</h1>
  </div>
  <div class="panel-body">

    <div class="col-md-4" ng-repeat="cat in rootCats">
      <label class="checkbox-inline">
        <input type="checkbox" value="{{cat.id}}" ng-model="cat.selected"><b>{{cat.label}}</b> (<a ng-click="toggle=!toggle">{{cat.nb}}</a>)
      </label>
      <div style="margin-left:20px;" ng-repeat="scat in cat.subCats" ng-show="toggle">
        <label class="checkbox-inline">
          <input type="checkbox" name="selectedCategories[]" value="{{scat.id}}" ng-model="scat.selected">{{scat.label}} ({{scat.nb}})
        </label>
      </div>
    </div>

  </div>
</div>
