<div ng-include="'views/history.html'"></div>

<button class="btn btn-default" ng-click="details=null" ng-show="details">Close topic</button>
<div ng-include="'views/bits_details.html'" ng-show="details"></div>

<div ng-repeat="s in shares">
  <div class="panel panel-primary">
    <div class="panel-body">
      <a href="#/bits/id{{s.id}}"><img ng-show="{{s.image_id}}" style="float:left; margin-right: 20px;" src="https://usercontent.googleapis.com/freebase/v1/image/{{s.image_id}}?maxwidth=100&maxheight=100"></a>
      <h2 class="panel-title">{{s.title}}</h2>
      {{s.content}} -- {{s.author.name}}
      <br/>
      <a href="#/bits/id{{s.id}}">Show topic</div>

    </div>
  </div>

</div>
