<!-- /common/topic/description -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body">
        {{details.property['/common/topic/description'].values[0].value}}
    </div>
</div>

<form name="add_form" ng-submit="share(id, title, content, details.property['/common/topic/image'].values[0].id, details.property['/common/topic/notable_types'].values[0].text, details.property['/common/topic/notable_types'].values[0].id)" role="form">
    <div class="form-group">
        <textarea class="form-control"  ng-model="content" placeholder="What's on your mind">{{content}}</textarea><br/>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Share</button>
        <button class="btn btn-default" ng-click="cancelShare(id)"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
    </div>
</form>
